<div class="container center center-align">

    <div class="row">
        <h3 class="orange-text text-darken-3">Hello</h3>
        <p class="orange-text text-darken-3" style="margin-bottom: 2%;">Sign in to BEAR SHARE or <a
                href="/signup">create an account</a></p>
    </div>
    <div id="alert-box" class="row">
        <div class="col s12">
            <div id="alert-panel" class="card-panel red lighten-2 hidden">
                <span>Incorrect email and/or password.</span>
            </div>
        </div>
    </div>
    <form class="login">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter email address" id="email_login" type="email" class="validate" required="true">
                <label for="email">Email <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter password" id="password_login" type="password" class="validate" required="true">
                <label for="password">Password <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
            </div>
        </div>
        <button type="submit" class="btn orange darken-3 waves-effect" id="loginBtn">Log in</button>
    </form>
</div>
</div>