<div class="container center center-align">

    <div class="row">
        <h3 class="orange-text text-darken-3">Hello</h3>
        <p class="orange-text text-darken-3" style="margin-bottom: 2%;">Sign in to BEAR SHARE or <a href="/signup">create an account</a></p>

    </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter email address" id="email" type="email" class="validate">
                    <label for="email">Email <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter password" id="password" type="password" class="validate">
                    <label for="password">Password <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <button class="btn orange darken-3 waves-effect" id="loginBtn">Log in</button>
        </form>
    </div>
</div>