<!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container search_bar">
    <div class="search_wrap">
        <div class="search_box">
            <input type="text" class="input searchField" placeholder="Search for your bear">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <div type="submit" class="btn orange darken-3 searchButton">Search</div>
        </div>
    </div>
</div>

{{!-- joel - i added this for the search function --}}
<div class="hide container hide-on-med-and-down">
    <div class="row">
        <a href="/login" class="listing-Link">
            <div class="col m3">
                <div class="card">
                    <div class="card-image" style="padding: 20px 20px 0px 20px">
                        <img src="./img/example.png" height="150px" width="100px">
                    </div>
                    <div class="card-content">
                        <p style="font-size:20px">Searched Item</p>
                        <p class="searchInputMed" style="font-size:14px;">
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{{!-- joel - i added this for the search function --}}
<a href="/login" class="listing-Link">
    <div class="hide container hide-on-large-only">
        <div class="col s12 m7">
            <div class="card horizontal">
                <img src="./img/logo1.png" height="100px" width="100px" style="border:solid 1px black">
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="font-size:20px">Searched Item</p>
                        <p class="searchInputLarge" style="font-size:14px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

<div class="container">
    <div class="row">
        {{#each bearsList}}
          <a href="/product/{{this.id}}" class="listing-Link">
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image" style="padding: 20px 20px 0px 20px">
                        <img src="{{image_paths}}" height="150px" width="100px">
                    </div>
                    <div class="card-content">
                        <p style="font-size:20px; font-weight:bold;">{{this.title}}</p>
                        <p>{{this.category}}</p>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="./js/members.js"></script>