<!-- jQuery Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col s0 m2"></div>
        <div class="col s12 m10">
            <div class="carousel carousel-slider left" data-indicators="true" style="margin:auto;">
                <a class="carousel-item" href="#"><img src="./img/test.png"></a>
                <a class="carousel-item" href="#"><img src="./img/test.png"></a>
                <a class="carousel-item" href="#"><img src="./img/test.png"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="col s12 post_item">
            <div class="row">
                <div class="col s12 m2 hide-on-small-only orange-text text-darken-3 post_label_custom left">
                    Title :
                </div>
                <div class="col s12 m10 black-text text-darken-3 post_label_custom left">
                    <strong><span id="title_product">Test_Title BearBear</span></strong>
                </div>
            </div>

            <div class="row">
                <div class="col s2 m2 orange-text text-darken-3 post_label_custom left hide-on-small-only">
                    Price :
                </div>
                <div class="col s10 m10 black-text text-darken-3 post_label_custom left">
                    <span>$</span><span id="price_product">50</span>
                </div>
            </div>

            <div class="row">
                <div class="col s4 m2 orange-text text-darken-3 post_label_custom left">
                    Category :
                </div>
                <div class="col s12 m10 black-text text-darken-3 post_label_custom left">
                    <span id="cagegory_product">Test_Category Poketmon</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m2">
                    <label for="title_name" class="orange-text text-darken-3 post_label_custom left">Description
                    </label>
                </div>
                <div class="col s12 m10"
                    style="border: 1px solid rgb(179, 179, 179); border-radius:5px; margin-left:10px; padding: 10px; height: 100px; max-width:350px">
                    <div id="description_product">aknlaksdnfklansdflaknsldf</div>
                </div>
            </div>
            <div class="row">
                <div class="col s0 m2"></div>
                <div class="col s12 m10">
                    <div class="left" style="margin-top: 50px;">
                        <div class="row">
                            <div class="col s6 m6">
                                <button class="btn white orange-text text-darken-3 waves-effect left" data-id=""
                                    style=" border: solid 1px">Message</button>
                            </div>
                            <div class="col s6 m6">
                                <button class="btn orange darken-3 waves-effect left" data-id="">Buy it now</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>