<div class="container center center-align">

    <div class="row">
        <h3 class="orange-text text-darken-3" style="margin-bottom: 2%;">Create an Account</h3>

    </div>
    <div class="row">
        <form class="col s8 offset-s2">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="First Name" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Last Name" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter mobile phone" id="mobile_number" type="text" class="validate">
                    <label for="last_name">Mobile Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter address" id="mobile_number" type="text" class="validate">
                    <label for="last_name">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter email address" id="email" type="email" class="validate">
                    <label for="email">Email <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter password" id="password" type="password" class="validate">
                    <label for="password">Password <sup><i class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <button class="btn orange darken-3 waves-effect">Create Account</button>
        </form>
    </div>
</div>